body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: black;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.3em;
    text-align: center;
    color: white;
}

u {
    color: rgb(41, 179, 53);
}

.home {
    background: #2d3436;
    color: white;
    margin-left: 0%;
    margin-right: 0%;
    padding: 230px;
    border: 0;
}

.container-sobremi {
    margin-left: 0%;
    margin-right: 0%;
    padding: 180px;
    text-align: center;
}

.container-contacto {
    margin-left: 0%;
    margin-right: 0%;
    padding: 180px;
    text-align: center;
}

.header {
    background: black;
    color: white;
    padding: 2rem 0;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.style {
    color: chartreuse;
}

.container {
    margin: 0 auto;
    text-align: right;
}


.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    color: rgb(124, 223, 124);
}

.navigation ul li {
    display: inline-block;
}









